body{
    color:rgb(109, 26, 182);
    
    margin: 0px;
    font-family: "Alfa Slab One", serif;
    
    
}

header{
    border-bottom: solid 2px rgb(255, 0, 0);
    padding: 15px;
    font-size: 35px;
    color: rgb(255 0 0);
}

